.tableData {
    padding: 1% !important;
    vertical-align: middle !important;
}

.columnHead {
    align-items: center;
}

.searchButton {
    width: auto !important;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.searchButton:focus-within {
    width: 100% !important;
    transition-duration: 2s;
}

.tableCustom {
    width: 70% !important;
    margin: 5% auto !important;
}

@media only screen and (max-width: 600px) {
    .tableCustom {
        width: 90% !important;
    }
}