.postBody {
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
}

.cardStyle .card-header {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-bottom: 0 !important;
}

.cardStyle {
    flex: 0 0 300px;
    box-sizing: border-box;
    margin: 16px auto;
    width: 18rem;
    border: 1px solid rgb(234 234 234);
    cursor: pointer;
    border-radius: 5% !important;
    height: 280px;
}

.postsImaage {
    border-radius: 5% !important;
    margin: auto;
    width: 80% !important;
}

.cardStyle:hover {
    box-shadow: 0 2px 20px 5px #cacacaab;
}

.cardStyleInOverview {
    width: 40%;
    margin: auto;
}

.postContainerWidth {
    width: 70%;
}

@media only screen and (max-width: 600px) {
    .cardStyleInOverview {
        width: 100%;
    }
    .postContainerWidth {
        width: 100%;
    }
}